.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 785px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 623px;
  width: 1140px;
  height: auto;
  margin: 33px -12px 60px auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
  height: 490px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 19px 30px;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0 6px;
}

.u-section-1 .u-form-1 {
  height: 67px;
  margin: 26px 432px 0 6px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-table-1 {
  margin: 33px 6px 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  margin: 22px 6px 0 auto;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  margin: -31px auto 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-1 .u-text-3 {
  margin: 53px auto 0 66px;
}

.u-section-1 .u-image-1 {
  width: 194px;
  height: 194px;
  margin: 99px auto 0 80px;
}

.u-section-1 .u-table-2 {
  width: 619px;
  margin: -281px 68px 0 auto;
}

.u-block-9464-112 {
  height: 46px;
}

.u-block-9464-127 {
  height: 46px;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  width: 121px;
  height: 121px;
  margin: 143px auto 0 353px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 109px;
  height: 109px;
  margin: -109px 362px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  margin: 33px 340px 0 auto;
  padding: 10px 58px 10px 57px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  text-transform: uppercase;
  margin: -45px auto 0 338px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 25px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 22px;
    margin-right: 223px;
    margin-left: 25px;
  }

  .u-section-1 .u-table-1 {
    width: 865px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 33px;
    margin-right: 49px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -41px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 38px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 107px;
    margin-left: 22px;
  }

  .u-section-1 .u-table-2 {
    width: 510px;
    margin-top: -259px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 288px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 296px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 275px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -419px;
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 217px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 223px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 55px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    min-height: 658px;
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-table-1 {
    margin-top: 25px;
    width: 540px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -462px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-table-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 168px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 173px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 749px;
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 26px;
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -143px;
  }

  .u-section-1 .u-table-2 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 106px;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-text-1 {
  margin: 140px 919px 0 0;
}

.u-section-2 .u-table-1 {
  width: 1114px;
  margin: 16px auto 60px 0;
}

.u-block-7861-24 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 719px;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 499px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 319px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 119px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }
}

.head {
  background-color: #adcce9;
}
