.space {
  margin-top: 2%;
}

.padding-content {
  padding: 1.5rem;
  height: 30rem;
}

.tab-nomina {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pagination_div {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

thead {
  background-color: #3b71ca;
  color: #fff;
}

.modal {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 550px;
  background-color: #333;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modalData {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 550px;
  background-color: #fff;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.login {
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 550px;
  padding-top: 8%;
  padding-left: 30%;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.loginSize {
  width: 40%;
}

.input_style {
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 40%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}

.loginForm {
  padding: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.hidden {
  display: none;
}

table {
  margin-top: 2%;
}

select {
  width: 20%;
  height: 30px;
  border-radius: 4px;
}
