/* navbar */
.navbar {
  overflow: hidden;
  background-color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 10%;
  padding: 5px 20px;
  font-family: 'Oxygen', sans-serif;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  size: 44pt;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  padding: 10px;
  margin-top: 80px; /* Add a top margin to avoid content overlay */
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  height: 500px;
}

body {
  /*background-color: #478ac9;*/
  background-color: #adcce9;
  position: absolute;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #292e33;
  height: 50px;
  text-align: center;
  color: #fff;
  bottom: 0;
  position: absolute;
}

/* tap */
* {
  box-sizing: border-box;
}

.wrapper {
  /* max-width: 50rem;*/
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: '';
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  align-items: center;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

/* pagination  */
.pagination_div {
  display: flex;
  justify-content: space-between;
  bottom: 0;
}

.pagination {
  padding-top: 20px;
}

/* divs de la info*/
.container_info {
  display: flex;
  width: 100%;
}

.col1 {
  width: 25%;
}
.col2 {
  border: white;
  width: 55%;
}
